{% extends 'website/base.html' %}
{% load static %}

{% block title %}Checkout Page{% endblock title %}
{% block short %}Checkout{% endblock short %}

{% block css %}
<!--checkout-->
<link rel="stylesheet" type="text/css" href="{% static 'website/css/checkout.css' %}">
<style>
   button.submit.hidden {
      display: none;
   }
</style>
<!--//checkout-->
{% endblock css %}

{% block body %}


<!--Checkout-->
<!-- //banner -->

<!-- top Products -->
<section class="checkout py-lg-4 py-md-3 py-sm-3 py-3">
   <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
      <div class="shop_inner_inf">
         <div class="privacy about">
            <h3>Chec<span>kout</span></h3>
            <div class="checkout-right">
               <h4>Your shopping cart contains: <span>{{order.get_cart_items}} Products</span></h4>
               <table class="timetable_sub">
                  <thead>
                     <tr>
                        <th>SL No.</th>
                        <th>Product</th>
                        <th>Quality</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Remove</th>
                     </tr>
                  </thead>
                  <tbody>

                     {% for item in items %}
                     <tr class="rem1">
                        <td class="invert">1</td>
                        <td class="invert-image"><a href="/single"><img src="{{item.product.imageURL}}" alt=" "
                                 class="img-responsive"></a></td>
                        <td class="invert">
                           <div class="quantity">
                              <div class="quantity-select" style="display: inline-flex;">
                                 <div data-product={{item.product.id}} data-action="remove"
                                    class="entry value-minus update-cart">&nbsp;</div>
                                 <div class="entry value"><span>{{item.quantity}}</span></div>
                                 <div data-product={{item.product.id}} data-action="add"
                                    class="entry value-plus active update-cart">&nbsp;</div>
                              </div>
                           </div>
                        </td>
                        <td class="invert">{{item.product.name}}</td>
                        <td class="invert">${{item.get_total|floatformat:2}}</td>
                        <td class="invert">
                           <div class="rem">
                              <div class="close1"> </div>
                           </div>
                        </td>
                     </tr>
                     {% endfor %}



                  </tbody>
               </table>
            </div>
            <div class="checkout-left">
               <div class="col-md-4 checkout-left-basket">
                  <h4>Continue to basket</h4>
                  <ul>
                     {% for item in items %}

                     <li>{{item.product.name}} <i>-</i> <span> ${{item.get_total|floatformat:2}} </span></li>
                     {% endfor %}

                     <!-- <li>Total Service Charges <i>-</i> <span>$55.00</span></li> -->

                     <li><strong>Total <i>-</i> <span>${{order.get_cart_total|floatformat:2}}</span></strong> </li>

                  </ul>
               </div>
               <div id="shipping-info" class="col-md-8 address_form">
                  <h4>Add a new Details</h4>
                  <form id="shipping-form" action="" method="post" class="creditly-card-form agileinfo_form">
                     {% csrf_token %}
                     <section class="creditly-wrapper wrapper">
                        <div class="information-wrapper">
                           <div class="first-row form-group">
                              <div class="controls">
                                 <label class="control-label">Full name: </label>
                                 <input class="billing-address-name form-control" type="text" name="name"
                                    placeholder="Full name">
                              </div>
                              <div class="card_number_grids">
                                 <div class="card_number_grid_left">
                                    <div class="controls">
                                       <label class="control-label">Mobile number:</label>
                                       <input class="form-control" name="phone_num" type="text"
                                          placeholder="Mobile number">
                                    </div>
                                 </div>
                                 <div class="card_number_grid_right">
                                    <div class="controls">
                                       <label class="control-label">Address: </label>
                                       <input name="address" class="form-control" type="text" placeholder="Address">
                                    </div>
                                 </div>
                                 <div class="clear"> </div>
                              </div>
                              <div class="controls">
                                 <label class="control-label">Town/City: </label>
                                 <input name="city" class="form-control" type="text" placeholder="Town/City">
                              </div>

                              <div class="controls">
                                 <label class="control-label">State: </label>
                                 <input name="state" class="form-control" type="text" placeholder="State">
                              </div>

                              <div class="controls">
                                 <label class="control-label">Zip Code: </label>
                                 <input name="zipcode" class="form-control" type="text" placeholder="Zip Code">
                              </div>

                              <!-- <div class="controls">
                                 <label class="control-label">Address type: </label>
                                 <select class="form-control option-w3ls">
                                    <option>Office</option>
                                    <option>Home</option>
                                    <option>Commercial</option>
                                 </select>
                              </div> -->
                           </div>
                           <button id="shipping-form-button" class="submit check_out">Delivery to this Address</button>
                        </div>
                     </section>
                  </form>
                  <div class="checkout-right-basket">
                     <a id="make-payment" href="#">Make a Payment </a>
                  </div>
               </div>
               <div class="clearfix"></div>
               <div class="clearfix"></div>
            </div>
         </div>
      </div>
      <!-- //top products -->
   </div>
</section>



{% endblock body %}



{% block script %}
<!--js working-->
<script src="{% static 'website/js/jquery-2.2.3.min.js' %}"></script>
<!--//js working-->

<!-- cart-js -->
<script src="{% static 'website/js/minicart.js' %}"></script>
<script>
   toys.render();

   toys.cart.on('toys_checkout', function (evt) {
      var items, len, i;

      if (this.subtotal() > 0) {
         items = this.items();

         for (i = 0, len = items.length; i < len; i++) { }
      }
   });
</script>
<!--// cart-js -->

<!--quantity-->
<script>
   $('.value-plus').on('click', function () {
      var divUpd = $(this).parent().find('.value'),
         newVal = parseInt(divUpd.text(), 10) + 1;
      divUpd.text(newVal);
   });

   $('.value-minus').on('click', function () {
      var divUpd = $(this).parent().find('.value'),
         newVal = parseInt(divUpd.text(), 10) - 1;
      if (newVal >= 1) divUpd.text(newVal);
   });
</script>
<!--quantity-->

<!--closed-->
<script>
   $(document).ready(function (c) {
      $('.close1').on('click', function (c) {
         $('.rem1').fadeOut('slow', function (c) {
            $('.rem1').remove();
         });
      });
   });
</script>
<script>
   $(document).ready(function (c) {
      $('.close2').on('click', function (c) {
         $('.rem2').fadeOut('slow', function (c) {
            $('.rem2').remove();
         });
      });
   });
</script>
<script>
   $(document).ready(function (c) {
      $('.close3').on('click', function (c) {
         $('.rem3').fadeOut('slow', function (c) {
            $('.rem3').remove();
         });
      });
   });
</script>

<script type="text/javascript">

   var total = '{{order.get_cart_total}}'

   var form = document.getElementById('shipping-form')
   form.addEventListener('submit', function (e) {
      e.preventDefault()
      console.log('Form Submitted...')
      document.getElementById('shipping-form-button').classList.add("hidden");

   })


   document.getElementById('make-payment').addEventListener('click', function (e) {
      submitFormData()
   })


   function submitFormData() {
      console.log('Payment button clicked')

      var userFormData = {
         'name': null,
         'phone_num': null,
         // 'email': null,
         'total': total,
      }

      var shippingInfo = {
         'address': null,
         'city': null,
         'state': null,
         'zipcode': null,
      }

      userFormData.name = form.name.value
      userFormData.phone_num = form.phone_num.value

      shippingInfo.address = form.address.value
      shippingInfo.city = form.city.value
      shippingInfo.state = form.state.value
      shippingInfo.zipcode = form.zipcode.value


      var url = "/process_order/"
      fetch(url, {
         method: 'POST',
         headers: {
            'Content-Type': 'applicaiton/json',
            'X-CSRFToken': csrftoken,
         },
         body: JSON.stringify({ 'form': userFormData, 'shipping': shippingInfo }),

      })
         .then((response) => response.json())
         .then((data) => {
            console.log('Success:', data);
            alert('Transaction completed');

            cart = {}
            // document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"

            window.location.href = "{% url 'shop' %}"

         })
   }

</script>
<!--//closed-->
{% endblock script %}